#features-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
}

span {
    margin-left: 9px;
    margin-right: 9px;
}

#tj-feature {
    height: 90px;
    width: 90px;
}

#features-container {
    color: white;
}

#feature-header {
    font-size: 30px;
    font-weight: bold;
}